<div class="reveal" id="pick-a-number-modal" data-reveal>
    <h1>Go ahead, pick a number!</h1>

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert callout">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'data-abide': 'data-abide', 'novalidate': 'novalidate'}}) }}
        {{ form_label(form.value) }}
        {{ form_errors(form.value) }}
        {{ form_widget(form.value, {
                'attr': {
                    'autofocus': 'autofocus',
                    'min': '1',
                    'max': '99',
                    'data-validator': 'min max',
                    'data-min': '1',
                    'data-max': '99',
                },
            })
        }}
        <div data-abide-error class="form-error">
            <p><i class="fi-alert"></i> The number must be between 1 and 99</p>
        </div>
        <button type="submit" class="button success">Submit</button>
    {{ form_end(form) }}
</div>
